<h1>Turtle Doodle</h1>
<div class="row">
  <div class="col-md-8">
    <canvas turtle-processing="sketch"></canvas>
  </div>
  <div class="col-md-4">
    <strong>My Commands</strong>
    <ol class="command-list">
      <li class="command" ng-repeat="command in turtle.commands" ng-class="{ disabled: !command.enabled }">
        <a ng-show="command.enabled" ng-click="command.enabled = false" style="float: right">Disable</a>
        <a ng-hide="command.enabled" ng-click="command.enabled = true" style="float: right">Enable</a>
        <span>{{ command.command }}</span>
      </li>
    </ol>
  </div>
</div>

<form role="form" ng-submit="turtle.addCommand()">
  <div class="form-group">
    <label for="command">What should I do next?</label>
    <input class="form-control" id="command" ng-model="turtle.newCommand" placeholder="Enter a command..." autofocus />
  </div>
  <div ng-show="turtle.error" class="alert alert-warning">{{ turtle.error }}</div>

  <button type="submit">Do it!</button>
</form>

<hr />

<div class="row">
  <div class="col-md-12">
    <h2>Commands</h2>
    
    <h3>move [direction] [amount]</h3>
    <p>Moves the turtle in one direction by the amount specified.</p>
    <ul>
      <li>move forward 100</li>
      <li>move backward 40</li>
      <li>move right 50</li>
      <li>move left 20</li>
    </ul>

    <h3>turn [direction] [amount]</h3>
    <p>Turns the turtle in one direction by the amount specified.</p>
    <ul>
      <li>turn right 90</li>
      <li>turn left 45</li>
    </ul>

    <h3>show</h3>
    <div>Shows the turtle</div>
    <ul>
      <li>show</li>
    </ul>

    <h3>hide</h3>
    <p>Hides the turtle</p>
    <ul>
      <li>hide</li>
    </ul>
  </div>
</div>
