doctype 5
html(lang="en", ng-app="turtle")
  head
    title {{ head.title }}
    script(type="text/javascript", src="//code.angularjs.org/1.2.0-rc.2/angular.js")
    script(type="text/javascript", src="//code.angularjs.org/1.2.0-rc.2/angular-resource.js")
    script(type="text/javascript", src="//code.angularjs.org/1.2.0-rc.2/angular-route.js")
    script(type="text/javascript", src="//code.angularjs.org/1.2.0-rc.2/angular-sanitize.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.1/processing-api.min.js")
    script(type="text/javascript", src="/js/app.js")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300|Lato:400,700&v2", rel="stylesheet", type="text/css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body(ng-cloak)
    section#content.container
      div(ng-view)
